@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color: aliceblue;
}
header{
    background-color: #5882FA;
}

.nav-item{
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1rem;
    text-transform: uppercase;
}

.fuentes li a:hover{
    background-color: blanchedalmond;
}

.centro{
    text-align: center;
}

.for1{
    margin: 50px;
    padding: 100px;
}

.contacto{
    width: 50rem;
    margin:5rem;
}

.titulo{
    text-align: center;
    padding-top: 2rem;
    text-transform: uppercase;
    font-weight: bold;
}