main {
    .centro {
        text-align: center;
    }

    .titulo {
        text-align: center;
        padding-top: 2rem;
        text-transform: uppercase;
        font-weight: bold;
    }
    
    .foto {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        text-align: center;
    }

    .parrafo {
        margin: 5rem;
    }

    .contacto {
        width: 50rem;
        margin: 5rem;
      }
      

    @media (max-width:800px) {
        .imgMovil {
            display: none;
        }
    }


    @media (max-width:800px) {
        .foto {
            display: none;
        }
    }
    
}